Node-RED_IoT_flow.txt
[{"id":"ed96f85b.8dc0e","type":"ibmiot in","z":"524bc71c.1c2c08","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"2ee73ccee892","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90.5,"y":125.25,"wires":[["90b09ca6.b82d28","5edae01e.73d5d"]]},{"id":"90b09ca6.b82d28","type":"debug","z":"524bc71c.1c2c08","name":"","active":false,"console":"false","complete":"false","x":316.5,"y":125.5,"wires":[]},{"id":"1ae2fcb1.77fc33","type":"debug","z":"524bc71c.1c2c08","name":"","active":false,"console":"false","complete":"false","x":427.5,"y":193.5,"wires":[]},{"id":"5edae01e.73d5d","type":"function","z":"524bc71c.1c2c08","name":"Manipulate object","func":"var ts = new Date();\nvar lat = 60.271903;\nvar lon = 24.972169;\n\nreturn {payload:{heartrate:msg.payload.d.temp, timestamp:ts, lat:lat, lon:lon}};","outputs":1,"noerr":0,"x":194.5,"y":193.75,"wires":[["1ae2fcb1.77fc33","3eaf694c.07b1f6","5bbc9e2c.567158","c0daa10a.47454"]]},{"id":"3eaf694c.07b1f6","type":"switch","z":"524bc71c.1c2c08","name":"","property":"payload.heartrate","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"str"},{"t":"btwn","v":"50","vt":"num","v2":"65","v2t":"num"},{"t":"gt","v":"65","vt":"str"}],"checkall":"true","outputs":3,"x":386.5,"y":281.75,"wires":[["45450fd.e7b4a7"],["84d2202a.46824"],["4f3b8772.1768"]]},{"id":"45450fd.e7b4a7","type":"template","z":"524bc71c.1c2c08","name":"Low heartrate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your heart rate is {{payload.heartrate}}, which is very low. Are you ok?","x":559.5,"y":242.75,"wires":[["e57bb11e.138ad"]]},{"id":"84d2202a.46824","type":"template","z":"524bc71c.1c2c08","name":"Optimum heartrate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your heart rate is {{payload.heartrate}}, which is OK.","x":570,"y":282,"wires":[["e57bb11e.138ad"]]},{"id":"4f3b8772.1768","type":"template","z":"524bc71c.1c2c08","name":"High heartrate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your heart rate is {{payload.heartrate}}, which is very high. Please slow down.","x":561,"y":320,"wires":[["e57bb11e.138ad"]]},{"id":"3c4f065d.7899fa","type":"debug","z":"524bc71c.1c2c08","name":"","active":true,"console":"false","complete":"false","x":991.5,"y":282.5,"wires":[]},{"id":"e57bb11e.138ad","type":"delay","z":"524bc71c.1c2c08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":793.5,"y":281.75,"wires":[["3c4f065d.7899fa","1cbd1aec.b90a45"]]},{"id":"b3d29d29.543538","type":"weather_insights","z":"524bc71c.1c2c08","name":"","host":"twcservice.mybluemix.net","service":"/forecast/hourly/48hour.json","geocode":"","units":"m","language":"en-US","x":257.5,"y":616,"wires":[["d18acfb1.9d6c1","32aa3308.ae9614"]]},{"id":"d18acfb1.9d6c1","type":"debug","z":"524bc71c.1c2c08","name":"","active":true,"console":"false","complete":"true","x":475.5,"y":616.5,"wires":[]},{"id":"1cbd1aec.b90a45","type":"play audio","z":"524bc71c.1c2c08","name":"","voice":"0","x":889.5,"y":609.5,"wires":[]},{"id":"877bc238.106e1","type":"debug","z":"524bc71c.1c2c08","name":"","active":false,"console":"false","complete":"false","x":404.5,"y":549.5,"wires":[]},{"id":"b7e2f6b0.83f318","type":"template","z":"524bc71c.1c2c08","name":"Forecast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Outside temperature is currently {{payload.curtemp}} and is expected to be {{payload.h1temp}} within 1 hour.\nCurrent condition is {{payload.curprecip}} and propability for rain is {{payload.h1precip}} within 1 hour.","x":482,"y":737,"wires":[["1cbd1aec.b90a45","17c3a33f.045e8d"]]},{"id":"17c3a33f.045e8d","type":"debug","z":"524bc71c.1c2c08","name":"","active":true,"console":"false","complete":"false","x":701.5,"y":737.5,"wires":[]},{"id":"32aa3308.ae9614","type":"function","z":"524bc71c.1c2c08","name":"Manipulate object","func":"curtemp = msg.forecasts[0].temp;\nh1temp = msg.forecasts[1].temp;\ncurphrase = msg.forecasts[0].phrase_32char;\nh1pop = msg.forecasts[1].pop;\nreturn {payload:{curtemp:curtemp,h1temp:h1temp,curprecip:curphrase,h1precip:h1pop}};","outputs":1,"noerr":0,"x":340.5,"y":673.75,"wires":[["13f3c2e.5c406bd","b7e2f6b0.83f318"]]},{"id":"13f3c2e.5c406bd","type":"debug","z":"524bc71c.1c2c08","name":"","active":true,"console":"false","complete":"false","x":544.5,"y":674.5,"wires":[]},{"id":"6dfac3d1.af363c","type":"delay","z":"524bc71c.1c2c08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":211.5,"y":549.75,"wires":[["b3d29d29.543538","877bc238.106e1"]]},{"id":"5bbc9e2c.567158","type":"template","z":"524bc71c.1c2c08","name":"Pass coordinates","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.lat}},{{payload.lon}}","x":218.5,"y":482.75,"wires":[["6dfac3d1.af363c"]]},{"id":"6b97c4bd.e7201c","type":"comment","z":"524bc71c.1c2c08","name":"Get weather forecast","info":"","x":245.5,"y":429.75,"wires":[]},{"id":"abd462ac.8b4ee","type":"comment","z":"524bc71c.1c2c08","name":"Get sensor readings","info":"","x":133,"y":77,"wires":[]},{"id":"7d45ba90.b4270c","type":"comment","z":"524bc71c.1c2c08","name":"Speak out recommendations","info":"","x":939,"y":565,"wires":[]},{"id":"c0daa10a.47454","type":"cloudant out","z":"524bc71c.1c2c08","name":"","cloudant":"","database":"sensordata","service":"Sensor Cloudant NoSQL DB","payonly":true,"operation":"insert","x":315.5,"y":374.25,"wires":[]},{"id":"ddf5e945.5f7ad8","type":"comment","z":"524bc71c.1c2c08","name":"Store data","info":"","x":305,"y":336,"wires":[]}]
