Node-RED_ESC16_Tweets.txt
[{"id":"e1e2d55e.90ef58","type":"cloudant","name":""},{"id":"c0d849fc.4bbc28","type":"cloudant out","z":"7d331974.5d84e","service":"jrred-cloudantNoSQLDB","cloudant":"e1e2d55e.90ef58","name":"esc16_tweets","database":"esc16_tweets","payonly":true,"operation":"insert","x":280,"y":520,"wires":[]},{"id":"d43c5d7b.b11e28","type":"debug","z":"7d331974.5d84e","name":"","active":false,"console":"false","complete":"sentiment","x":520,"y":180,"wires":[]},{"id":"483b79e2.bf4f58","type":"switch","z":"7d331974.5d84e","name":"en only","property":"lang","propertyType":"msg","rules":[{"t":"cont","v":"en","vt":"str"}],"checkall":"true","outputs":1,"x":260,"y":120,"wires":[["29c9e8b5.eab318","b4aec563.bf78"]]},{"id":"6e52db10.312f84","type":"switch","z":"7d331974.5d84e","name":"target country not null","property":"target","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":300,"y":340,"wires":[["59ee1ba6.aacd54","4422dbc3.597eec"]]},{"id":"4422dbc3.597eec","type":"function","z":"7d331974.5d84e","name":"populatePayload","func":"var date = new Date();\n\ndate.setHours(date.getHours() +3);\n\nvar timekey = date.getFullYear() * 10000000000 +\n            (date.getMonth()+1) * 100000000 +\n            date.getDate() * 1000000 +\n            date.getHours() * 10000 +\n            date.getMinutes() * 100 +\n            date.getSeconds();\n\nvar _tweet = { \"text\":msg.tweet.text,\n                \"favorite_count\":msg.tweet.favorite_count,\n                \"user\":msg.tweet.user};\n\nvar target = msg.target;\n\nvar newMsg = { payload: {\n                \"target_country\":target,\n                \"sentiment\":msg.sentiment,\n                \"tweet\":_tweet,\n                \"location\":msg.location,\n                \"date\":date,\n                \"timekey\":timekey}};\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["168b1054.a23b98","6118738e.541ff4"]]},{"id":"48cf7c87.69f61c","type":"twitter in","z":"7d331974.5d84e","twitter":"","tags":"#esc, #eurovision, #esc2016","user":"false","name":"","topic":"tweets","x":140,"y":60,"wires":[["a315c45c.171cd8","483b79e2.bf4f58"]]},{"id":"a315c45c.171cd8","type":"debug","z":"7d331974.5d84e","name":"","active":false,"console":"false","complete":"false","x":510,"y":60,"wires":[]},{"id":"59ee1ba6.aacd54","type":"debug","z":"7d331974.5d84e","name":"","active":false,"console":"false","complete":"false","x":510,"y":340,"wires":[]},{"id":"168b1054.a23b98","type":"debug","z":"7d331974.5d84e","name":"","active":false,"console":"false","complete":"payload","x":510,"y":400,"wires":[]},{"id":"29c9e8b5.eab318","type":"debug","z":"7d331974.5d84e","name":"","active":false,"console":"false","complete":"lang","x":500,"y":120,"wires":[]},{"id":"b4aec563.bf78","type":"sentiment","z":"7d331974.5d84e","name":"","x":260,"y":180,"wires":[["d43c5d7b.b11e28","28cc1fbc.59193","469e794e.f82108"]]},{"id":"28cc1fbc.59193","type":"debug","z":"7d331974.5d84e","name":"","active":false,"console":"false","complete":"false","x":510,"y":220,"wires":[]},{"id":"6118738e.541ff4","type":"switch","z":"7d331974.5d84e","name":"sentiment not null","property":"payload.sentiment.score","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":290,"y":460,"wires":[["17b51608.eb2912","c0d849fc.4bbc28"]]},{"id":"17b51608.eb2912","type":"debug","z":"7d331974.5d84e","name":"","active":true,"console":"false","complete":"false","x":510,"y":460,"wires":[]},{"id":"469e794e.f82108","type":"function","z":"7d331974.5d84e","name":"IdentifyTarget","func":"var text = msg.tweet.text.toUpperCase();\n\nvar countries = [ \n    \"ARMENIA\",\"AUSTRIA\",\"AZERBAIJAN\",\"BELGIUM\",\"CROATIA\",\"CYPRUS\",\"CZECH\",\"FRANCE\",\"GERMANY\",\n    \"HUNGARY\",\"ITALY\",\"MALTA\",\"RUSSIA\",\"SPAIN\",\"SWEDEN\",\"NETHERLANDS\",\"UNITED KINGDOM\"];\nvar nats = [ \n    \"ARMENIAN\",\"AUSTRIAN\",\"AZERBAIJAN\",\"BELGIAN\",\"CROATIAN\",\"CYPRUS\",\"CZECH\",\"FRENCH\",\"GERMAN\",\n    \"HUNGARIAN\",\"ITALIAN\",\"MALTAN\",\"RUSSIAN\",\"SPANISH\",\"SWEDISH\",\"DUTCH\",\"ENGLISH\"];\nvar misc = [ \n    \"ARMENIA\",\"AUSTRIA\",\"AZERBAIJAN\",\"BELGIUM\",\"CROATIA\",\"CYPRUS\",\"CZECH\",\"FRANCE\",\"GERMANY\",\n    \"HUNGARY\",\"ITALY\",\"MALTESE\",\"RUSSIA\",\"SPAIN\",\"SWEDE\",\"HOLLAND\",\"UK\"];\nvar perf = [ \n    \"IVETA MUKUCHYAN\",\"ZOE\",\"SAMRA\",\"NINA KRALJIC\",\"MINUS ONE\",\"GABRIELA GUNCIKOVA\",\"AMIR\",\"JAMIE-LEE\",\n    \"FREDDIE\",\"FRANCESCA MICHIELIN\",\"IRA LOSCO\",\"SERGEY LAZAREV\",\"BAREI\",\"FRANS\",\"DOUWE BOB\",\"JOE AND JAKE\"];\nvar song = [ \n    \"LOVEWAVE\",\"LOIN D'ICI\",\"MIRACLE\",\"LIGHTHOUSE\",\"ALTER EGO\",\"I STAND\",\"J'AI CHERCHE\",\"GHOST\",\n    \"PIONEER\",\"NO DEGREE OF SEPARATION\",\"WALK ON WATER\",\"YOU ARE THE ONLY ONE\",\"SAY YAY!\",\"IF I WERE SORRY\",\"SLOW DOWN\",\"YOU'RE NOT ALONE\"];\n\nvar target = \"0\";\nfor (i=0;i<countries.length;i++){\n    if (text.indexOf(countries[i])>=0 ||\n        text.indexOf(nats[i])>=0 ||\n        text.indexOf(misc[i])>=0 ||\n        text.indexOf(perf[i])>=0 ||\n        text.indexOf(song[i])>=0) {\n        target = countries[i];\n    }\n}\nmsg.target = target;\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["6e52db10.312f84"]]}]